[submodule "external/fmt"]
	path = external/fmt
	url = git://github.com/fmtlib/fmt.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "libs/dear_nes_lib"]
	path = libs/dear_nes_lib
	url = https://github.com/eariassoto/dear_nes_lib
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
