[submodule "external/fmt"]
	path = external/fmt
	url = git://github.com/fmtlib/fmt.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = master
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "libs/virtual-nes"]
	path = libs/virtual-nes
	url = https://github.com/eariassoto/virtual-nes
